:root {
  --nav-text: #cc77ee;
  --button-color: #7149df;
  --button-text: #ffff;
}

  /* Universal Selector */
* {
  box-sizing: border-box;
}

  /* Element Selectors */
header {
  color: var(--nav-text);
  display: flex;
  justify-content: space-between;
  font-size: large;
  padding: 10px;
}

body {
  font-family: sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

  /* Class Selectors */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35vw;
}

.user-button {
  color: var(--button-text);
  background-color: var(--button-color);
  margin: 0.3rem;
}

.timer{
  color: black
}

  /* Identifiers */
#answers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 30vh;
}

  /* Pseudo Classes */
nav:hover,
nav:active,
nav:focus {
  opacity: 0.8;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

button:active {
  background-color: var(--button-text);
  color: var(--button-color);
}